/* Set a background color for the homepage */
body {
    background-color: lightcyan; /* Replace with your desired background color */
    margin: 0; /* Remove default margin to fill the entire viewport */
    padding: 0; /* Remove default padding to fill the entire viewport */
    font-family: Arial, sans-serif; /* Set a font family for the text */
  }
  
  /* Style your homepage content */
  .container {
    text-align: center;
    padding: 100px; /* Add padding to center your content vertically and horizontally */
    color: #fff; /* Set text color */
  }
  
  h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 18px;
  }
  

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0f172a;
    color: white;
    position: sticky;
    top: 0;
}


nav .title {
    font-size: 1.5rem;
    margin: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

nav ul {
    display: flex;
}

nav ul li {
   list-style: none; 
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 0.5rem;
    margin: 0 0.5rem;
    border-radius: 0.5rem;
}


nav ul li a:not(.active):hover {
    background-color:#172554 ;
}

nav .menu {
    display: none;
    position: absolute;
    top: 0.75rem;
    right: 0.5rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2.25rem;
    height: 2rem;
}

nav .menu span {
    height: 0.4rem;
    width: 100%;
    background-color: #fff;
    border-radius: 0.2rem;
}


@media (max-width: 480px) {
    nav .menu {
        display: flex;
    }

    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        margin-bottom: 0.25rem;
    }

    nav ul.open {
        display: flex;
    }

    nav ul li {
        width: 100%;
        text-align: center;
    }

    nav ul li a {
        margin: 0.2rem 0.5rem;
    }
}
body{
    /* background-image: url('C:\Users\rohin\OneDrive\Desktop\Hackathon-\frontend\public\bc2.jpg') ; */
    background-repeat: no-repeat;
    background-size: cover;
}
.ex{
    display: flex;
    
}
.ex1{
    
    width: 500px;
    margin-top: -20%;
}
.ex2{
width: 500px;
}