body{
    margin: 0;
    padding:0;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'jost',sans-serif;
    /* background-color: linear-gradient(to bottom,#0f0c29,#302b63,#24243e); */
    /* background-image: url("C:\Users\rohin\OneDrive\Desktop\Hackathon-\frontend\public\ex.jpg")no repeat center/cover;; */
    /* background-color:#6d44b8; */
}
.main{
    width: 350px;
    height: 500px;
    /* background: violet; */
    overflow: hidden;
    background-image: url("C:\Users\Divya\OneDrive\Desktop\Alumni_Co\Alumni_Co\frontend\public\al1.jpg")no repeat center/cover;
    /* background: #e0dede; */

    border-radius: 10px;
    box-shadow: 5px 20px 50px #000;
}
#chk{
    display: none;
}
.signup{
    position: relative;
    width: 100%;
    height: 100%;
}
.signup label{
    font-size: 50px;
}
label{
    color:#eee;
    font-size:150 px;
    justify-content: center;
    display: flex;
    margin: 60px;
    font-weight: bold;
    cursor: pointer;
    transition: .5s ease-in-out;

}
input{
    width: 60%;
    height: 20px;
    background: #e0dede;
    justify-content: center;
    display: flex;
    margin: 20px auto;
    padding:10px;
    border:none;
    outline: none;
    border-radius: 5px;
}
button{
    width: 60%;
    height: 40px;
    margin: 10px auto;
    justify-content: center;
    display: block;
    color: #fff;
    background: #164f6e;
    font-size: 1em;
    font-weight: bold;
    margin-top: 20px;
    /* outline: none; */
    /* border: none; */
    border-radius: 5px;
    transition: .2s ease-in;
    cursor: pointer;

}
button:hover{
    background: rgb(48, 46, 49);
    opacity:0.5;

}
.login{
    height: 460px;
    background: #eee;
    border-radius: 60%/10%;
    transform: translateY(-180px);
}
.login label{
    font-size: 70px;
    color: #164f6e;
    transform: scale(.6);

}
#chk:checked ~ .login{
    transform: translateY(-500px);
}
#chk:checked ~ .login label{
    transform: scale(.6);
}
#chk:checked ~ .signup label{
     transform: scale(.6)
}
table{
    
    border: none;
    /* margin: top 50px;right: 20px;left: 30px; ; */
    margin-top: 10%;
    margin-left:  10% ;
    /* margin-right: 100px; */
    /* margin-bottom: 50px; */
}
td{
    padding-right: 50px;
}
#chk1{
    display: none;
}
#chk1:checked ~ .login{
    transform: translateY(-500px);
}
#chk1:checked ~ .login label{
    transform: scale(.6 );
}
#chk1:checked ~ .signup label{
     transform: scale(.6)
}
img {
    width:70%;
    justify-content: center;
    margin-left: 15%;
    margin-right: auto;
    border-radius: 50%;
}
#chk2{
    display: none;
}
#chk2:checked ~ .login{
    transform: translateY(-500px);
}
#chk2:checked ~ .login label{
    transform: scale(.6);
}
#chk2:checked ~ .signup label{
     transform: scale(.6)
}